In [1]:
# DATA PRE-PROCESSING & FEATURE ENGINEERING


# 1. AYKIRI DEGER ANALIZI
# 2. EKSIK DEGER ANALIZI
# 3. LABEL ENCODING
# 4. ONE-HOT ENCODING
# 5. SUPER-CATEGORY CATCHING
# 6. RARE ENCODING
# 7. STANDARDIZATION
# 8. FEATURE ENGINEERING
# 9. RECAP

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import missingno as msno
import os
import sklearn
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
import warnings
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
warnings.simplefilter(action="ignore")

In [3]:
!pip install missingno

Requirement already satisfied: missingno in d:\anaconda\lib\site-packages (0.4.2)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from missingno) (1.5.2)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from missingno) (1.19.2)
Requirement already satisfied: seaborn in d:\anaconda\lib\site-packages (from missingno) (0.11.0)
Requirement already satisfied: matplotlib in d:\anaconda\lib\site-packages (from missingno) (3.3.2)
Requirement already satisfied: pandas>=0.23 in d:\anaconda\lib\site-packages (from seaborn->missingno) (1.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\anaconda\lib\site-packages (from matplotlib->missingno) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in d:\anaconda\lib\site-packages (from matplotlib->missingno) (2.8.1)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib->missingno) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in d:\anaconda\lib\site-packages (from matplotlib->missingno) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib->missingno) (8.0.1)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas>=0.23->seaborn->missingno) (2020.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.15.0)

In [4]:
#pd.pandas.set_option('display.max_columns', None)
df = pd.read_csv("grad/cnc.csv")

In [5]:
failure_label = preprocessing.LabelEncoder()
df["failure"] = failure_label.fit_transform(df["failure"])

In [6]:
df.head()

,datetime,machineID,voltmean,rotatemean,pressuremean,vibrationmean,voltsd,rotatesd,pressuresd,vibrationsd,error1count,error2count,error3count,error4count,error5count,model,age,failure
0,2015-01-02T05:00:00Z,1,169.733809,445.179865,96.797113,40.385160,11.233120,48.717395,10.079880,5.853209,0.0,0.0,0.0,0.0,0.0,model3,18,0
1,2015-01-02T08:00:00Z,1,170.525721,443.906847,97.667249,39.786670,12.591948,46.930282,9.406795,6.098173,0.0,0.0,0.0,0.0,0.0,model3,18,0
2,2015-01-02T11:00:00Z,1,170.049722,446.461279,96.906162,40.016513,13.277336,42.836780,9.071472,5.481724,0.0,0.0,0.0,0.0,0.0,model3,18,0
3,2015-01-02T14:00:00Z,1,170.341974,447.355315,96.229522,39.921963,13.817158,42.808633,8.256794,5.862312,0.0,0.0,0.0,0.0,0.0,model3,18,0
4,2015-01-02T17:00:00Z,1,170.060643,452.163407,96.357441,39.990470,14.792869,42.525293,8.669605,5.907157,0.0,0.0,0.0,0.0,0.0,model3,18,0

## EKSİK DEĞER ANALİZİ

In [7]:
def missing_values_table(dataframe):
    
    variables_with_na = [col for col in dataframe.columns if dataframe[col].isnull().sum() > 0]
    
    n_miss = dataframe[variables_with_na].isnull().sum().sort_values(ascending=False)
    ratio = (dataframe[variables_with_na].isnull().sum() / dataframe.shape[0] * 100).sort_values(ascending=False)
    
    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=['n_miss', 'ratio'])
    print(missing_df)
    return variables_with_na

In [8]:
cols_with_na = missing_values_table(df)

Empty DataFrame
Columns: [n_miss, ratio]
Index: []

In [9]:
cols_with_na

[]

In [10]:
# NUMERIC TO CATEGORICAL: Bu da bir yöntemdir. Buna daha sonra one-hot uygula 1-0 yazsın
df.loc[(df['age'] >= 0) & (df['age'] < 6), 'NEW_AGE_CAT'] = 'yeni'
df.loc[(df['age'] >= 6) & (df['age'] <= 15), 'NEW_AGE_CAT'] = 'orta'
df.loc[(df['age'] >= 16), 'NEW_AGE_CAT'] = 'senior'

In [13]:
df.tail(25)

,datetime,machineID,voltmean,rotatemean,pressuremean,vibrationmean,voltsd,rotatesd,pressuresd,vibrationsd,error1count,error2count,error3count,error4count,error5count,model,age,failure,NEW_AGE_CAT
29105,2015-12-29T05:00:00Z,10,172.221604,459.849535,99.264958,41.846089,15.072897,56.217882,9.662575,4.643219,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29106,2015-12-29T08:00:00Z,10,173.264406,460.196350,97.743404,41.776427,14.837848,59.136661,9.565774,4.459934,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29107,2015-12-29T11:00:00Z,10,174.537323,468.784746,97.094641,41.688008,16.116546,57.072026,9.435047,4.152569,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29108,2015-12-29T14:00:00Z,10,173.387197,460.839130,97.434309,41.990841,16.204903,58.670980,9.596835,3.548958,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29109,2015-12-29T17:00:00Z,10,170.903685,461.789582,97.377142,42.035899,15.143889,58.676859,9.734394,3.445994,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29110,2015-12-29T20:00:00Z,10,170.407286,461.836718,98.773072,41.504725,15.353240,57.471087,8.855759,3.896609,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29111,2015-12-29T23:00:00Z,10,170.306833,461.588808,99.256066,42.367145,15.302676,59.759423,8.272807,5.099118,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29112,2015-12-30T02:00:00Z,10,171.947810,456.053136,99.021762,42.694836,14.339163,57.519335,8.269846,5.013536,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29113,2015-12-30T05:00:00Z,10,170.657112,462.095525,99.355855,41.782601,15.250832,55.714363,9.128267,5.531285,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29114,2015-12-30T08:00:00Z,10,169.038072,456.880787,100.468406,41.399615,13.539352,46.323936,8.853942,5.656215,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29115,2015-12-30T11:00:00Z,10,168.726515,452.635572,101.165287,41.373534,11.425440,43.510355,8.010466,5.808381,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29116,2015-12-30T14:00:00Z,10,167.846961,459.152543,101.506763,41.141096,12.871444,40.320421,9.137294,5.710511,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29117,2015-12-30T17:00:00Z,10,166.875714,456.990510,100.405806,41.228156,14.249173,42.763791,9.069729,5.542404,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29118,2015-12-30T20:00:00Z,10,166.184186,453.443927,98.817266,42.450204,14.019056,43.146350,9.962647,5.588477,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29119,2015-12-30T23:00:00Z,10,168.331380,448.080694,99.992870,41.679379,15.147230,36.165479,11.534929,4.468129,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29120,2015-12-31T02:00:00Z,10,166.417357,446.637905,101.105521,41.655718,16.721964,39.055670,11.234791,4.296242,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29121,2015-12-31T05:00:00Z,10,165.129694,441.990977,102.710997,42.731159,15.412536,37.792742,11.334567,4.246665,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29122,2015-12-31T08:00:00Z,10,163.972681,440.745675,101.835478,43.731494,16.385960,40.844917,11.452233,4.055987,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29123,2015-12-31T11:00:00Z,10,164.444380,446.195183,101.440762,43.448828,16.067368,42.544782,11.599548,4.030244,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29124,2015-12-31T14:00:00Z,10,168.506317,447.916059,101.727738,43.405772,18.562909,48.219696,11.041090,4.099009,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29125,2015-12-31T17:00:00Z,10,171.577454,447.725459,101.025957,42.927702,17.580542,46.093929,10.798830,4.684982,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29126,2015-12-31T20:00:00Z,10,170.817850,451.579020,103.031201,42.161448,17.769408,46.754910,10.076799,4.523319,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29127,2015-12-31T23:00:00Z,10,167.255451,450.429443,101.932670,41.338068,18.628930,47.456923,8.863430,5.482885,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29128,2016-01-01T02:00:00Z,10,168.264449,449.381726,100.650939,41.331546,17.177360,43.757825,9.991384,5.699507,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta
29129,2016-01-01T05:00:00Z,10,169.043235,448.706767,98.602845,40.648183,17.267892,43.133318,9.834626,5.368877,0.0,0.0,0.0,0.0,0.0,model3,10,0,orta

In [20]:
df.groupby("model").agg({"failure": "mean", "age": ["count", "mean"]})

         failure    age
            mean  count mean
model
model3  0.015105  23304   11
model4  0.016478   5826    7

In [23]:
df.loc[((df['error1count'] + df['error2count'] + df['error3count'] + df['error4count'] + df['error5count']) >= 5), "NEW_IS_RISKY"] = "HIGH RISK"
df.loc[((df['error1count'] + df['error2count'] + df['error3count'] + df['error4count'] + df['error5count']) >= 1), "NEW_IS_RISKY"] = "RISK"
df.loc[((df['error1count'] + df['error2count'] + df['error3count'] + df['error4count'] + df['error5count']) == 0), "NEW_IS_RISKY"] = "LOW RISK"
df.head(25)

,datetime,machineID,voltmean,rotatemean,pressuremean,vibrationmean,voltsd,rotatesd,pressuresd,vibrationsd,error1count,error2count,error3count,error4count,error5count,model,age,failure,NEW_AGE_CAT,NEW_IS_RISKY
0,2015-01-02T05:00:00Z,1,169.733809,445.179865,96.797113,40.385160,11.233120,48.717395,10.079880,5.853209,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
1,2015-01-02T08:00:00Z,1,170.525721,443.906847,97.667249,39.786670,12.591948,46.930282,9.406795,6.098173,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
2,2015-01-02T11:00:00Z,1,170.049722,446.461279,96.906162,40.016513,13.277336,42.836780,9.071472,5.481724,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
3,2015-01-02T14:00:00Z,1,170.341974,447.355315,96.229522,39.921963,13.817158,42.808633,8.256794,5.862312,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
4,2015-01-02T17:00:00Z,1,170.060643,452.163407,96.357441,39.990470,14.792869,42.525293,8.669605,5.907157,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
5,2015-01-02T20:00:00Z,1,169.369283,453.336163,98.042007,39.531667,15.674787,41.689624,10.607947,6.205887,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
6,2015-01-02T23:00:00Z,1,169.795758,446.832666,98.454608,39.271645,15.742155,38.800266,11.679314,5.579524,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
7,2015-01-03T02:00:00Z,1,170.162325,450.221017,100.880519,38.838137,15.801770,40.490000,11.323930,5.565239,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
8,2015-01-03T05:00:00Z,1,170.356866,454.242875,100.787669,38.471831,15.033766,40.858613,11.384920,5.121860,0.0,0.0,0.0,0.0,0.0,model3,18,0,senior,LOW RISK
9,2015-01-03T08:00:00Z,1,169.859196,462.466826,100.409064,40.204330,13.953164,44.269134,10.765817,6.023521,1.0,0.0,0.0,0.0,0.0,model3,18,0,senior,RISK
10,2015-01-03T11:00:00Z,1,171.599107,463.941497,99.720809,42.067449,14.108350,43.621245,10.814608,6.819076,1.0,0.0,0.0,0.0,0.0,model3,18,0,senior,RISK
11,2015-01-03T14:00:00Z,1,172.320843,465.030583,99.186034,44.406854,13.813553,40.925398,11.669515,8.698672,1.0,0.0,0.0,0.0,0.0,model3,18,0,senior,RISK
12,2015-01-03T17:00:00Z,1,171.717059,463.150915,98.704970,45.148120,13.445539,39.930068,11.764586,8.608311,1.0,0.0,0.0,0.0,0.0,model3,18,0,senior,RISK
13,2015-01-03T20:00:00Z,1,171.605745,464.106816,97.237913,47.172309,12.006122,41.339239,10.066835,8.498345,1.0,0.0,1.0,0.0,0.0,model3,18,0,senior,RISK
14,2015-01-03T23:00:00Z,1,171.862244,459.204742,97.998233,48.074091,11.182853,47.387959,8.884765,8.194927,1.0,0.0,1.0,0.0,0.0,model3,18,0,senior,RISK
15,2015-01-04T02:00:00Z,1,172.016411,453.540165,98.416126,50.265607,12.098525,44.214471,9.496396,7.478631,1.0,0.0,1.0,0.0,0.0,model3,18,0,senior,RISK
16,2015-01-04T05:00:00Z,1,172.566760,450.897424,100.240400,52.351479,12.805887,45.129934,9.861049,5.830561,1.0,0.0,1.0,0.0,0.0,model3,18,0,senior,RISK
17,2015-01-04T08:00:00Z,1,171.804124,444.478244,101.198301,52.604542,14.677793,37.128147,10.440118,5.794546,0.0,0.0,1.0,0.0,1.0,model3,18,1,senior,RISK
18,2015-01-04T11:00:00Z,1,171.942654,445.636731,102.047636,53.011035,17.055195,36.305278,10.310175,5.752299,0.0,0.0,1.0,0.0,1.0,model3,18,1,senior,RISK
19,2015-01-04T14:00:00Z,1,169.580325,445.666155,102.446010,51.686591,18.691663,36.119813,9.579414,5.053566,0.0,0.0,1.0,0.0,1.0,model3,18,1,senior,RISK
20,2015-01-04T17:00:00Z,1,171.832453,444.682762,100.651438,51.784955,18.368612,42.008395,10.860645,5.045402,0.0,0.0,1.0,0.0,1.0,model3,18,1,senior,RISK
21,2015-01-04T20:00:00Z,1,175.324685,440.751785,102.494201,51.196357,19.025406,38.916381,10.564317,5.261867,0.0,0.0,0.0,0.0,1.0,model3,18,1,senior,RISK
22,2015-01-04T23:00:00Z,1,174.792428,448.743201,101.452266,52.190268,19.224657,34.008026,10.807630,5.081258,0.0,0.0,0.0,0.0,1.0,model3,18,1,senior,RISK
23,2015-01-05T02:00:00Z,1,171.372335,442.824640,99.159077,52.076521,21.253149,36.391162,10.095555,5.196500,0.0,0.0,0.0,0.0,1.0,model3,18,1,senior,RISK
24,2015-01-05T05:00:00Z,1,171.333562,441.310894,98.087115,51.607772,21.282989,34.033248,9.480559,5.294177,0.0,0.0,0.0,0.0,1.0,model3,18,1,senior,RISK